.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.head-and-links {
    background-color:aliceblue;
    padding-bottom: 30px;
}

.head-and-links:after{
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.head {
    padding: 40px 0 40px 0;
}

.head h1 {
    font-family: 'Century Gothic', sans-serif;
    text-align:center;
    margin: 0;
    text-transform: uppercase;
    color: #000;
}

.inside-footer-links-link {
    /*background-color: antiquewhite;*/
    width: 80%;
    margin: 0 auto !important;
    padding: 0;
    height: 300px;
    padding-top: 50px;
    transition: all ease-in-out 0.5s;
    border-radius: 10px;
}

.links {
    width: 100%;
}

.img-inside-link {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.img-div-out {
    margin: 0 auto;
    padding: 25px 0px 30px 0px;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
}

.inside-footer-links-link:hover {
   box-shadow: 0 0 10px #000;
      animation-name: tookUp;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.img-desc {
    margin-top: 30px;
    display: block;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: #000;
}

.footer-a-links:hover {
    text-decoration: none;
}

.footer-a-links:after {
    content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.footer-nav {
    z-index: 2;
    width: 100%;
    height: 130px;
    background-color: darkgray;
}

.link-inside-footer-nav a{
    text-decoration: underline;
    color: #fff;
    font-size: 17px;
}

.lowest-div {
    padding-top: 30px;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 10px;
    border-bottom: 1px solid #9a9191;
}

.my-logo {
    width: 100%;
    padding-top: 5px;
    color:grey;
}

.my-logo-inside h2 {
    font-size: 16px;
}

@keyframes tookUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-10%);
    }
}

