.type-here {
    list-style-type:none;
    clear: both;
    padding: 5px 0 5px 0;
    text-align:right;
}

.type-here:after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.title {
    font-weight: bold;
    color: #AD4545;
}

.title-three {
    margin-right: 52px;
}

.title-two {
    margin-right: 45px;
}

.title-one {
    margin-right: 188px;
}