<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitHub" version="0.9.2" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
</packages>